
header {
    height: 100px;
}

main {
    background-color: #7fffd4;
    height: calc( 100vh - 180px);
}

footer {
    height: 80px;
}


div div.casella {
    border: 2px solid purple;
    text-align: center;
    background-color: grey;
}

div div.casella.bgAlternativo {
    background-color: yellowgreen;
}

div div.casella.bomb {
    background-color: red;
}

.custom-align-center {
    align-items: center;
}

#booleanLogo {
    height: 70px;
}

#gameContainer {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    padding: 0;
}
